language: rust
# Nightly versions after this use a newer version of LLVM
# https://github.com/rust-lang/rust/pull/34743
rust: nightly-2016-07-30
sudo: required
services:
  - docker
env:
  - LLVM_CONFIG=$(which llvm-config-3.8) CXX=$(which g++-4.9)
  - LLVM_CONFIG=$(which llvm-config-3.8) CXX=$(which clang++)
os:
  - linux
  - osx
addons:
  apt:
    packages:
      - g++-4.9
      - clang-3.8
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sh ./ci/install-osx.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker build -t afl.rs -f ci/Dockerfile .; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then RUN="docker run -t afl.rs"; fi
script:
  - $RUN ./ci/run.sh
