name: Update AFLplusplus

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

concurrency:
  group: update-aflplusplus-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      # smoelius: https://docs.github.com/en/rest/releases/releases#get-the-latest-release
      - run: |
          URL='https://api.github.com/repos/AFLplusplus/AFLplusplus/releases/latest'
          TAG="$(curl -H "Accept: application/vnd.github+json" --silent --show-error "$URL" \
            | jq -r .tag_name)"
          cd cargo-afl-common/AFLplusplus
          git fetch --tags
          CURR="$(git rev-parse HEAD)"
          NEXT="$(git rev-parse "$TAG")"
          if ! git merge-base --is-ancestor "$CURR" "$NEXT"; then
            echo "SKIP=true" >> "$GITHUB_ENV"
            exit
          fi
          git checkout "$TAG"

      - name: Create pull request
        if: env.SKIP != 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          title: "Update AFLplusplus"
          token: ${{ secrets.PR_GITHUB_TOKEN }}
          branch-suffix: random
